.round-close{
  border: 1px solid red;
  border-radius: 100%;
  background-color: red;
  color:#fff;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 16px;
  outline: none;
}